################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SIS_Ga2_Seguridad/v16/Server/sqlite3/storage.ide
/.vs/SIS_Ga2_Seguridad/v16/Server/sqlite3/db.lock
/.vs/SIS_Ga2_Seguridad/v16/Server/sqlite3/storage.ide-wal
/.vs/SIS_Ga2_Seguridad/v16/Server/sqlite3/storage.ide-shm
/.vs/SIS_Ga2_Seguridad/v16/.suo
/.vs/VSWorkspaceState.json
