################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SIS_Ga2_Seguridad/v16/Server/sqlite3/storage.ide
