<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="UsaAzure" value="False"/>
    <!--PRODUCCION-->
    <!--<add key="DataBase" value="Data Source=10.72.12.65;Initial Catalog=DBAFIALMA;User ID=ClienteALMA; Password=Alm4peru$" />-->
    <!--////////////////////-->
    <add key="DataBase" value="Data Source=10.72.12.63;Initial Catalog=DBAFIALMA;User ID=ClienteALMA; Password=SyStemE25"/>
    <!-- <add key="DataBase" value="Data Source=10.72.12.60;Initial Catalog=DBAFICASA;User ID=ClienteCASA; Password=Password$1" /> -->
    <!--<add key="DataBase" value="Data Source=10.72.12.63;Initial Catalog=DBAFIALMA;User ID=ClienteALMA; Password=3Xcellia11" />-->
    <!--<add key="DataBase" value="Data Source=10.72.12.63;Initial Catalog=DBAFICASA;User ID=ClienteCASA; Password=3Xcellia11" />-->
    <add key="Servidor" value="10.72.12.63"/>
    <add key="BaseDeDatos" value="DBAFIALMA"/>
    <add key="Usuario" value="ClienteALMA"/>
    <add key="Clave" value="SyStemE25"/>
    <!--Servicios WEB-->
    <add key="ServidorWeb" value="http://localhost:49327/"/>
    <!--Servicios WEB-->
    <add key="ServicioAS400" value="http://10.72.15.220:8082/"/>
    <add key="RutaServicioPDF" value="http://10.72.15.220:85/WebServicePDF.asmx"/>
    <add key="RutaServicioRansaPDF" value="http://rancal08.ransa.net/pdfwarrant/webservicepdf.asmx"/>
    <!--Documento PDF-->
    <add key="RutaDirectorioDocumento" value="\\10.72.15.220\WEBAFIALMA (qas)\"/>
    <!--Imágenes Firmas-->
    <add key="RutaDirectorioImagenUsuario" value="\\ranmoliisqa1\WEBAFIALMA (qas)\imagenes\Firmas\"/>
    <add key="RutaWebDocumento" value="http://10.72.15.220:89/"/>
    <add key="RutaALMA" value="http://10.72.15.220:85/"/>
    <add key="RutaCASA" value="http://10.72.15.220:86/"/>
    <add key="timeout" value="1200"/>
    <add key="Sistema" value="Ransa Comercial"/>
    <add key="ConnectionMode" value="onSite"/>
    <add key="ConnectionStringMode" value="ClearTextMode"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Azure Values-->
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="AADInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="RedirectUri" value="http://localhost:49327"/>
    <add key="GraphApiVersion" value="1.6"/>
    <add key="GraphUrl" value="https://graph.windows.net"/>
    <add key="CertName" value=""/>
    <add key="ClientId" value="666d66e1-84c6-4bf5-b1c6-3f1d2e8d4b88"/>
    <add key="AppKey" value="h3+Swx2G+C263CLyRgeFuRQRqlgXJZF6Fhobumwbmaw="/>
    <add key="Tenant" value="BPOSGROMERO.onmicrosoft.com"/>
    <add key="TenantId" value="598f7cd0-c5b3-44d2-9441-4e8ea953765c"/>
    <add key="pathxls" value="~/Descargas/"/>
    <!--Mail Values-->
    <add key="MailServer" value="smtp.office365.com"/>
    <add key="MailPort" value="587"/>
    <add key="MailSSL" value="True"/>
    <add key="MailUsuario" value="Warrant AFI"/>
    <add key="MailUser" value="Casawarrant@ransa.net"/>
    <add key="MailPassword" value="Ransa2017"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <sessionState timeout="180"/>
    <authentication mode="None"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="2097151"/>
    <globalization culture="es-PE" uiCulture="es-PE" requestEncoding="UTF-8" responseEncoding="UTF-8"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <services>
      <service name="WebWarrantAfi.proceso.svcMobile" behaviorConfiguration="AFIbehavior">
        <endpoint address="" behaviorConfiguration="WebWarrantAfi.proceso.svcMobileAspNetAjaxBehavior" binding="webHttpBinding" contract="WebWarrantAfi.proceso.IsvcMobile"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServicePDFSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServicePDFSoap">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.72.15.220:8083/WebServicePDF.asmx" binding="basicHttpBinding" bindingConfiguration="WebServicePDFSoap" contract="ServicePDF.WebServicePDFSoap" name="WebServicePDFSoap"/>
      <endpoint address="http://rancal08.ransa.net/pdfwarrant/webservicepdf.asmx" binding="basicHttpBinding" bindingConfiguration="WebServicePDFSoap" contract="ServiceRansaPDF.WebServicePDFSoap" name="WebServicePDFSoap"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebWarrantAfi.proceso.svcMobileAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AFIbehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: DD9A5EE7-453B-4D82-AE8D-22D29675B731-->