
<div id="project-switcher" class="container project-switcher">
    <div id="scrollbar">
        <div class="handle"></div>
    </div>
    <div id="frame">
        <ul class="project-list">
            <li>
                <a href="#">
                    <span class="image"><i class="icon-desktop"></i></span>
                    <span class="title">Sistema1</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="image"><i class="icon-compass"></i></span>
                    <span class="title">Sistema2</span>
                </a>
            </li> 
        </ul>
    </div> <!-- /#frame -->
</div>