@using SIS_Ga2.Entity
@using SIS_Ga2.Controllers

@model IEnumerable<SIS_Ga2.Entity.Proyecto>

@{
    Layout = null;
}

<!DOCTYPE html>


<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="widget box">
            <div class="widget-header">
                <h4>INDICE DE CONFIABILIDAD R% - </h4>
            </div>
        </div>
    </div>
</div>