.ring {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
	width: 130px;
	height: 130px;
	background: transparent;
	
	border-radius: 50%;
	text-align: center;
	line-height: 145px;
	font-size: 14px;
	color: #312e2a;
	letter-spacing:4px;
	text-transform: uppercase;
	text-shadow:0 0 8px #00c3ff;
	box-shadow: 0 0 18px rgba(0,0,0,.5);
}
.ring:before {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	border-top: 3px solid #4f91a5;
	border-right: 3px solid #4f91a5;
	border-radius: 50%;
	animation: animateCircle 2s linear infinite;
}
.loader-span {
	display: block;
	position: absolute;
	top: calc(50% - 2px);
	left: 50%;
	width: 50%;
	height: 4px;
	background: transparent;
	transform-origin:left;
	animation: animate 2s linear infinite;
}
.loader-span:before {
	content:'';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #3d8196;
	top: -6px;
	right: -8px;
	box-shadow: 0 0 20px #3d8196;
}

 @keyframes animateCircle
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
@keyframes animate
{
	0%
	{
		transform: rotate(45deg);
	}
	100%
	{
		transform: rotate(405deg);
	}
}